<div align="center">
<h3>Welcome</h3>
</div>

<div class="interna">
<div align="center">
<h1 text-align="center" position="center">Login</h1>
<h2>Username</h2>
<input type="text" [value]="currentUser.username" placeholder="Aquiiii">
<br>
<h2>Password</h2>
<input type="text" [value]="currentUser.senha" placeholder="Aquiiii">
<br>
<br>
<div>
<button position="center" type="button" name="button" class="input">Cadastre-se</button>
</div>
</div>
</div>


  <!-- <head>
    <link href="style.css" rel="stylesheet">

  </head> -->

<!-- <body>
  <!-- <div class="login-box">


oi



<!-- <p>1+1 = {{2*4}}</p>
<h1>1+1 = {{1+1}}</h1>
<p>{{username}}</p>
<p>{{currentUser.username}} ... {{currentUser.email}}</p>
<div>
<p [hidden]='HideEmail'>{{getUsername()}}!!!!!!</p>
</div>

<<input value="oioioiooii  {{username}}   {{getUsername()}}" type="text">

<div>
<p [hidden]='HideEmail'>Your email is: <em>{{currentUser.email}}</em></p>
</div>

<input [disabled]="disabledInput" type="text" placeholder="Insira aqui">
<button (mouseleave)="toggle()">Toogle(mouseleave)</button>
<br>
<button (click)="toggle()">Toogle(click)</button>
<br>

<div>
<input [class.green-bg]="isBlueBg" type="text" [value]="currentUser.username" placeholder="Aquiiii">
</div>

<input [style.background-color]="bgColor" [disabled]="disabledInput" type="text" placeholder="Enter your text">

<div>
  <h1>Change email:</h1>
  <input type="text" #newMail3 (keyup.enter)="changeMail(newMail3.value)">
  <button (click)="changeMail(newMail3.value)">Change</button>
</div>

<br>
<br>
<br>

<div>
  <input type="text" #a>
  <p>Value of input is: {{a.value}}</p>
</div>

<div>
  <input type="text" #b (keyup)="0">
  <p>Valor é: {{b.value}}</p>
</div> -->
